---
import '../styles/global.css';
import Footer from '../components/Footer.astro';

export interface Props {
  title?: string;
  description?: string;
  canonicalUrl?: string;
  socialImageUrl?: string;
}

const {
  title = "asteria.moe",
  description = "Silliest little site",
  canonicalUrl = "https://asteria.moe",
  socialImageUrl = "https://asteria.moe/social-image.png",
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#8DA3B9">
    
    <title>{title}</title>
    <meta name="description" content={description}>
    <link rel="canonical" href={canonicalUrl}>
    
    <meta property="og:site_name" content="asteria.moe">
    <meta property="og:type" content="website">
    <meta property="og:url" content={canonicalUrl}>
    <meta property="og:title" content={title}>
    <meta property="og:description" content={description}>
    <meta property="og:image" content={socialImageUrl}>
    
    <meta name="twitter:card" content="blehhh">
    <meta name="twitter:site" content="@yourmom">
    <meta name="twitter:title" content={title}>
    <meta name="twitter:description" content={description}>
    <meta name="twitter:image" content={socialImageUrl}>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  </head>
  <body>
    <slot />
    <Footer />
  </body>
</html>
